.ass-container {
  position: relative;
  margin: 10px auto;
  display: flex;
  width: 748px;
  height: 92px;
  border-radius: 15px;
  background-color: #ffd5d5;

  align-items: center;
  /* justify-content: space-between; */
}

.ass-img {
  margin-left: 30px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #f5b3b3;
  border: 1px solid #fff;
}

.ass-img p {
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #707070;
}

.ass-contents {
  /* margin-left: -415px; */
  margin-left: 20px;
  display: flex;
  height: 59px;
  flex-direction: column;
  justify-content: space-around;
}

.ass-name {
  font-size: 18px;
  font-weight: 900;
  color: #4d4d4d;
}

.ass-info {
  font-size: 18px;
  color: #4d4d4d;
}

.close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0;
  margin-right: 20.5px;
}

.close-btn:focus,
.close-btn:hover {
  cursor: pointer;
  fill: #4d4d4d;
}
